:root {
  --color-white: #fff;
  --color-grey: #f2f2f2;
  --color-secondary: #1a261a;
  --color-secondary-light: #717346;
  --color-secondary-light-2: #a69a60;
  --color-secondary-light-3: #593c22;
  --color-blue-dark-1: #121726;
  --color-blue-dark-2: #355b8c;
  --color-blue-dark-3: #081826;
  --color-red: #f24949;
  --color-text-1: #a6a6a6;
  --color-text-2: #595959;
  --color-text-3: #262626;
  --color-text-4: #000;
  --shadow-dark: 0 5rem 6rem rgba(0, 0, 0, 0.4);
  --shadow-medium: 0 2rem 5rem rgba(0, 0, 0, 0.185);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.16);
  --line: 1px solid var(--color-grey-light-2);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media (max-width: 1000px) {
  html {
    font-size: 52.5%;
  }
}

@media (max-width: 850px) {
  html {
    font-size: 45.5%;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 37.5%;
  }
}

@media (max-width: 410px) {
  html {
    font-size: 30.5%;
  }
}

@media (max-width: 300px) {
  html {
    font-size: 27.5%;
  }
}

body {
  background: var(--color-white);
  font-family: "AvantGarde", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  color: var(--color-txt-2);
  position: relative;
  margin: 0 auto;
}

.navbar {
  background-color: var(--color-grey);
  position: -webkit-sticky;
  position: sticky;
  max-width: 144rem;
  margin: 0 auto;
  top: 0;
  height: 8rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  padding: 1rem 0rem;
}

.navbar-central {
  background-color: var(--color-grey);
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0rem 1.5rem;
  z-index: -1;
}

@media (max-width: 1000px) {
  .navbar-central {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0rem 2.5rem;
  }
}

.logo {
  height: 4rem;
  width: 24rem;
}

@media (max-width: 1000px) {
  .logo {
    width: 20rem;
  }
}

@media (max-width: 768px) {
  .logo {
    width: 16rem;
  }
}

@media (max-width: 453px) {
  .logo {
    width: 12rem;
    height: 3rem;
  }
}

.nav-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.nav-links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menu-hamburger {
  position: relative;
}

.logoOn-item {
  background-color: red;
  font-size: 0.5rem;
}

@media (min-width: 1000px) {
  nav .menu-hamburger,
  .logoOn {
    display: none;
  }
}

@media (max-width: 1000px) {
  nav .nav-links {
    display: none;
  }
}

.nav__list,
.logoOn .nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8rem;
}

.logoOn .nav__list {
  height: 2rem;
}

.nav__link {
  text-decoration: none;
  color: var(--color-text-4);
  display: inline-block;
  padding: 3rem 2rem;
  position: relative;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1rem;
  z-index: 1000;
}

@media (max-width: 1200px) {
  .nav__link {
    padding: 3rem 1rem;
  }
}

.nav__link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  height: 8rem;
  width: 3px;
  background-color: var(--color-red);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: width cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: transform 0.2s, width cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  transition: transform 0.2s, width cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  z-index: -1;
}

.nav__link:hover::before {
  -webkit-transform: scaleY(1.05);
          transform: scaleY(1.05);
  width: 100%;
  height: 8rem;
  color: var(--color-white);
}

.nav__link:hover,
.nav__link:active {
  color: var(--color-white);
}

#active {
  background-color: var(--color-red);
  height: 8rem;
  color: var(--color-white);
}

#deductive {
  background-color: transparent;
  height: 8rem;
  color: var(--color-text-4);
}

#bold {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.5rem;
}

#hero,
#hero-1,
#hero-2,
#hero-3 {
  min-height: calc(60vh - 60px);
  background-color: var(--color-grey);
  margin: 0 auto;
  max-width: 144rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero-1 {
  background: url("/css/img/benz2.jpg") center/cover no-repeat;
  min-height: calc(80vh - 60px);
  z-index: 5;
}

#hero-2 {
  background: url("/css/img/pig.jpg") center/cover no-repeat;
  min-height: calc(80vh - 60px);
  z-index: 5;
}

#hero-3 {
  background: url("/css/img/1.jpg") center/cover no-repeat;
  min-height: calc(80vh - 60px);
  z-index: 5;
}

.hero-title {
  position: relative;
  height: 100%;
  padding: 10rem;
  width: 90vw;
  margin: 0 auto;
  max-width: 144rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hero-title h1 {
  margin-top: 5rem;
  font-family: "AvantGarde", sans-serif;
  font-weight: 700;
  font-size: 7rem;
  line-height: 1;
  margin-bottom: 1.5rem;
}

@media (max-width: 650px) {
  .hero-title h1 {
    font-size: 4rem;
  }
}

.hero-img-title {
  margin: 0 auto;
  padding: 0rem 2rem;
  min-height: 12rem;
  max-width: 140rem;
  width: 100%;
  background-color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero-img-title p {
  font-family: "AvantGarde", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.6;
  margin: 1.5rem;
  color: #3f3e3e;
  cursor: pointer;
}

#textlightGrey {
  color: #8f8c8c;
}

.hero-title h3 {
  font-family: "AvantGarde", sans-serif;
  text-align: start;
  font-weight: 600;
  margin-left: 20rem;
  font-size: 1.4rem;
  color: var(--color-text-2);
  letter-spacing: 1px;
  line-height: 1.2;
  margin-bottom: 2rem;
}

@media (max-width: 650px) {
  .hero-title h3 {
    margin-left: 10rem;
  }
}

.hero-title a {
  font-family: "AvantGarde", sans-serif;
  text-align: start;
  margin-left: 20rem;
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--color-text-3);
  letter-spacing: 1px;
  line-height: 1.2;
  text-decoration: none;
  border-bottom: 2px solid #6f6d6d;
  width: 9rem;
  cursor: pointer;
}

@media (max-width: 650px) {
  .hero-title a {
    margin-left: 10rem;
  }
}

.home-intro {
  background-color: inherit;
  padding: 0rem;
}

.intro-content {
  background-color: var(--color-grey);
  height: 100%;
  margin: 0 auto;
  max-width: 144rem;
  display: -ms-grid;
  display: grid;
  padding: 0 4rem;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

@media (max-width: 1080px) {
  .intro-content {
    -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

@media (max-width: 882px) {
  .intro-content {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (max-width: 600px) {
  .intro-content {
    -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
}

.house-img {
  padding: 0 4rem;
  padding-top: 4rem;
  width: 100%;
  min-height: 70vh;
}

.product1,
.product2,
.product3,
.product4,
.product5,
.product6,
.product7 {
  position: relative;
  overflow: hidden;
  height: 50rem;
}

.product1 {
  background-color: var(--color-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product1_title {
  height: 6rem;
  background-color: var(--color-red);
  font-size: 1.8rem;
  letter-spacing: 1px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2rem;
}

@media (max-width: 1000px) {
  .product1_title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media (max-width: 320px) {
  .product1_title {
    font-size: 1.4rem;
    padding-left: 0rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-content: center;
    margin: 0 auto;
    width: 25rem;
  }
}

.product1_title-text {
  background-color: inherit;
  padding-top: 4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: start;
}

.product1_title-text h2 {
  font-size: 3.2rem;
  width: 35rem;
  color: var(--color-text-4);
  letter-spacing: 1px;
  font-family: "AvantGarde", sans-serif;
  font-weight: 600;
  line-height: 1.3;
  text-transform: initial;
}

@media (max-width: 350px) {
  .product1_title-text h2 {
    font-size: 2.2rem;
    width: 25rem;
  }
}

@media (max-width: 1000px) {
  .product1_title-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.product4 {
  background: url("/css/img/wonan.jpg") center/cover no-repeat;
}

.product3 {
  padding-top: 0rem;
  background-color: var(--color-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 650px) {
  .product3 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.product3_title-text {
  background-color: inherit;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: start;
}

@media (max-width: 650px) {
  .product3_title-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 80%;
  }
}

.product3_title-text p {
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: var(--color-text-2);
  width: 25rem;
  line-height: 1.4;
  font-weight: 600;
}

.product3_title-text h2 {
  font-size: 3.2rem;
  letter-spacing: 1px;
  font-family: "AvantGarde", sans-serif;
  font-weight: 600;
  color: var(--color-text-4);
  line-height: 1.3;
  margin-bottom: 4rem;
  text-transform: initial;
}

.product2 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 640px) {
  .product2 {
    padding-bottom: 4rem;
  }
}

.product2-text {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 30rem;
  height: 20rem;
}

@media (max-width: 640px) {
  .product2-text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 0 2rem;
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 489px) {
  .product2-text {
    width: 100%;
  }
}

@media (max-width: 319px) {
  .product2-text {
    width: 80%;
  }
}

/*----------------------------TYPOGRAPHY------------------------------------*/
.heading-4 {
  letter-spacing: 1px;
  font-family: "AvantGarde", sans-serif;
  font-weight: 700;
  line-height: 1.3;
  text-transform: initial;
  font-size: 1.8rem;
  color: var(--color-text-3);
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}

.text {
  letter-spacing: 1px;
  font-family: "AvantGarde", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-transform: initial;
  font-size: 1.3rem;
  color: var(--color-text-2);
  letter-spacing: 1px;
}

/*----------------------------TYPOGRAPHY------------------------------------*/
.card-container {
  background-color: #020202;
  padding: 4rem;
  position: relative;
}

@media (max-width: 650px) {
  .card-container {
    padding: 1rem;
  }
}

.card-img {
  width: 100%;
  height: 70vh;
  margin: 0 auto;
}

.card-1 {
  position: absolute;
  width: 40rem;
  height: 25rem;
  top: 50%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 2rem 5rem rgba(255, 255, 255, 0.029);
          box-shadow: 0 2rem 5rem rgba(255, 255, 255, 0.029);
}

.card-2 {
  position: absolute;
  width: 40rem;
  height: 25rem;
  top: 65%;
  left: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 2rem 2rem rgba(128, 127, 127, 0.029);
          box-shadow: 0 2rem 2rem rgba(128, 127, 127, 0.029);
}

@media (max-width: 650px) {
  .card-1,
  .card-2 {
    width: 30rem;
    height: 20rem;
  }
}

@media (max-width: 345px) {
  .card-1,
  .card-2 {
    width: 20rem;
    height: 14rem;
    top: 30%;
    left: 50%;
  }
}

@media (max-width: 345px) {
  .card-2 {
    width: 20rem;
    height: 14rem;
    top: 60%;
    left: 50%;
  }
}

#bgColorBlack {
  background-color: #000;
}

#bgColorBlack-2 {
  background-color: #343333;
}

#txtColor {
  color: #fff;
}

#bgTransparent {
  background-color: transparent;
}

/* --------------- Hamburger -menu ---------------- */
.menu-open {
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: 40px;
  height: 20px;
  background-color: rgba(255, 0, 0, 0);
  z-index: 10;
}

.menu-open span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 4px;
  background-color: black;
  margin-top: 3px;
}

.nav {
  position: fixed;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100vh;
  background-color: black;
  border-right: 1px solid black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 8000;
}

@media only screen and (max-width: 728px) {
  .nav {
    left: -100%;
  }
}

.nav.active {
  position: fixed;
  top: 0;
  left: 0%;
  width: 50%;
  height: 100vh;
  background-color: white;
  border-right: 1px solid #fffbfb;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 8000;
}

@media only screen and (max-width: 728px) {
  .nav.active {
    width: 100%;
  }
}

.nav ul {
  position: absolute;
  top: 50%;
  right: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 80%;
  text-align: center;
  padding: 3rem;
}

/*---------------------------------------------------------*/
.nav .nav-horizontal {
  position: absolute;
  top: 4%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  padding: 1rem 3rem;
  cursor: pointer;
}

.nav .nav-horizontal li a {
  color: #302f2f;
  text-decoration: none;
  font-family: inherit;
  font-size: 1.8rem;
  background-color: white;
  font-weight: 700;
  font-family: "Roboto";
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.nav .nav-horizontal li a:hover {
  border-bottom: 2px solid white;
}

@media only screen and (max-width: 425px) {
  .nav .nav-horizontal li a {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 360px) {
  .nav .nav-horizontal li a {
    font-size: 1.2rem;
  }
}

.nav .nav-horizontal li a:hover {
  border-bottom: 2px solid white;
}

.nav .nav-bottom {
  position: absolute;
  top: 90%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 3rem;
  cursor: pointer;
}

.nav .nav-bottom {
  position: absolute;
  top: 95%;
  right: 1%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  text-align: center;
  padding: 3rem;
}

.nav .nav-bottom li a {
  color: #2d2b2b;
  text-decoration: none;
  font-family: inherit;
  font-size: 1.6rem;
  background-color: white;
  font-weight: 500;
  font-family: "Roboto";
  letter-spacing: 2px;
  cursor: pointer;
}

/*---------------------------------------------------------*/
.nav ul li {
  margin-top: 3rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav ul li a {
  color: #323030;
  text-decoration: none;
  font-family: inherit;
  font-size: 4.8rem;
  background-color: white;
  font-weight: 600;
  font-family: "Roboto";
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media only screen and (max-width: 1167px) {
  .nav ul li a {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 768px) {
  .nav ul li a {
    font-size: 3.4rem;
    letter-spacing: 4px;
  }
}

@media only screen and (max-width: 389px) {
  .nav ul li a {
    font-size: 2.4rem;
  }
}

.menu-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 18px;
  height: 18px;
  background-color: rgba(31, 30, 30, 0);
  cursor: pointer;
}

.menu-close span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 2px;
  background-color: #131313;
}

.menu-close :nth-child(1) {
  position: absolute;
  left: -2px;
  top: 7px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-close :nth-child(2) {
  position: absolute;
  left: -2px;
  top: 7px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.logo-center {
  position: relative;
  top: 50%;
  left: 15%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1372px) {
  .logo-center {
    left: 50%;
  }
}

/* --------------- End of Navbar ---------------- */
/* --------------- SECTIONS OPTIONS ---------------- */
.options {
  background-color: var(--color-grey);
  max-width: 144rem;
  margin: 0 auto;
  padding: 6rem 0rem;
}

.options-content {
  max-width: 144rem;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.options-content-1 {
  max-width: 144rem;
  min-height: 2rem;
}

.options-content-1-top {
  max-width: 144rem;
  min-height: 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}

.options-content-1-top h3,
.options-content-1-top p {
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: #3a3939;
}

.options-content-1-top h4 {
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #3a3939;
  text-align: start;
}

.options-content-1-top p {
  font-size: 1.8rem;
  cursor: pointer;
}

.compare {
  margin: 0 auto;
  max-width: 144rem;
  min-height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 8rem;
}

.compare a {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #3a3939;
  text-align: start;
  cursor: pointer;
}

/*-----------------------------------section-2 -----------------------------*/
.section-2 {
  background-color: var(--color-grey);
  padding: 8rem 2rem;
  margin: 0 auto;
  max-width: 144rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 618px) {
  .section-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-2-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2rem 0;
}

.section-2-squares {
  background-color: inherit;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 437px) {
  .section-2-squares {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-2-squares-square {
  width: 50%;
  height: 35rem;
  padding: 2rem 3rem;
}

@media (max-width: 437px) {
  .section-2-squares-square {
    width: 100%;
    height: 100%;
    padding: 4rem 2rem;
    background-color: #012169;
  }
}

.section-2-squares-square h3 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #3a3939;
  text-align: start;
  margin-bottom: 2rem;
}

@media (max-width: 437px) {
  .section-2-squares-square h3 {
    color: #fff;
  }
}

.section-2-squares-square p {
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 1px;
  color: #3a3939;
  text-align: start;
}

@media (max-width: 437px) {
  .section-2-squares-square p {
    color: #fff;
  }
}

pre {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "AvantGarde", sans-serif;
  font-style: normal;
  line-height: 1.2;
  color: var(--color-txt-2);
  text-align: start;
}

@media (max-width: 290px) {
  pre {
    font-size: 2.8rem;
  }
}

#squareClr {
  background-color: #012169;
}

#squareClrp {
  color: #fff;
}

/*-----------------------------------section-3 -----------------------------*/
.section-3 {
  background-color: var(--color-grey);
  padding: 10rem 2rem;
  margin: 0 auto;
  max-width: 144rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section-3-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 768px) {
  .section-3-left {
    display: none;
  }
}

.section-3-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-3-right h2 {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "AvantGarde", sans-serif;
  font-style: normal;
  line-height: 1.6;
  color: var(--color-txt-2);
  text-align: start;
  margin-bottom: 2rem;
}

.section-3-right p {
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 1px;
  color: #3a3939;
  text-align: start;
  margin-bottom: 2rem;
}

.section-3-right a {
  font-size: 1.4rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 1px;
  color: #3a3939;
  text-align: start;
}

/*-----------------------------------section-4 -----------------------------*/
.section-4 {
  background-color: var(--color-grey);
  margin: 0 auto;
  padding: 10rem 0;
  max-width: 144rem;
}

.section-4-content {
  min-height: 50vh;
  max-width: 144rem;
  margin: 0 auto;
  background: url("/css/img/photo-of-person-writing-on-notebook-3758899.jpg") center/cover no-repeat;
}

.compare-1 {
  margin: 0 auto;
  max-width: 144rem;
  min-height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 2rem;
  padding-bottom: 8rem;
}

.compare-1 a,
.compare-1 p {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #3a3939;
  text-align: start;
  cursor: pointer;
}

.compare-1 p {
  font-weight: 400;
}

/****************************  Footer ************************************************/
.footer {
  padding: 4rem 2rem;
  margin: 0 auto;
  background-color: var(--color-grey);
}

.footer-content {
  max-width: 144rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-down {
  width: 25rem;
  height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .nav-down {
    height: 30rem;
    margin: 2rem auto;
  }
}

.nav-down ul {
  list-style: none;
  color: #3f3e3e;
}

.nav-down ul li {
  text-align: center;
  padding: 1px;
  font-family: "Roboto", sans-serif;
  text-transform: initial;
  font-size: calc(1.4 + 1.5vw);
  font-weight: 400;
  letter-spacing: 2px;
  color: #3f3e3e;
  line-height: 1.6;
  cursor: pointer;
  -webkit-transition: all 0.2 ease;
  transition: all 0.2 ease;
}

.nav-down ul li a:hover,
.nav-down ul li a:active {
  background-position: 100%;
  color: #fafafa;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

#show {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.copy-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.copy-title p {
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  color: #3f3e3e;
}

.footer-logo {
  width: 18rem;
  height: 3rem;
}

/*----------------------------------------------------------------*/
.mortgage {
  background-color: var(--color-grey);
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mortgage h2 {
  font-family: "Roboto", sans-serif;
  text-transform: initial;
  font-size: 4.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #3f3e3e;
  line-height: 1.6;
  text-transform: initial;
  text-align: center;
}

.purchase {
  width: 100%;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.purchase p {
  font-family: "Roboto", sans-serif;
  text-transform: initial;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #4d4b4b;
  line-height: 1.6;
  text-transform: initial;
  text-align: center;
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.options-content {
  padding: 0 6rem;
}

#pshade {
  color: #807d7d;
  font-size: 1.2rem;
  font-weight: 500;
}

.bar {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
  height: 5vh;
}

.bar-top,
.bar-top-2 {
  height: 2px;
  max-width: 600px;
  border-radius: 10rem;
  position: relative;
  background-color: #cacaca;
}

.bar-top::after {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #ddd;
  z-index: 2;
  top: 50%;
  right: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bar-top-2::after {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #ddd;
  z-index: 2;
  top: 50%;
  right: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.options-content-1-top {
  position: relative;
}

#tax,
#rate,
#apr,
#prices,
#monthly,
#tax1 {
  font-size: 1.6rem;
  font-weight: 500;
  position: relative;
}

#rate::after,
#apr::after,
#prices::after,
#monthly::after {
  position: absolute;
  content: "Rate";
  top: -70%;
  right: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.6;
}

#apr::after {
  content: "APR";
}

#prices::after {
  content: "Prices";
  right: -50%;
}

#monthly::after {
  content: "monthly";
  right: -70%;
}

.compare-2 {
  margin: 0 auto;
  max-width: 144rem;
  padding: 2rem 6rem;
  min-height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 8rem;
}

.compare-2 a {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 1px;
  color: #575454;
  text-align: start;
  cursor: pointer;
}

.product1 .product1_title-text-2 {
  width: 100%;
  height: 100%;
  padding: 4rem;
  background-color: var(--color-red);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.product1 .product1_title-text-2 h3 {
  font-family: "Roboto", sans-serif;
  text-transform: initial;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fffefe;
  line-height: 1.6;
  text-transform: initial;
  text-align: center;
}

.product1 .product1_title-text-2 a {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 1px;
  color: white;
  text-align: start;
  cursor: pointer;
}

.product2-content {
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.product2-content h3 {
  font-family: "Roboto", sans-serif;
  text-transform: initial;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #413e3e;
  line-height: 1.6;
  text-transform: initial;
  text-align: center;
}

.product2-content a {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2;
  letter-spacing: 1px;
  color: #413e3e;
  text-align: start;
  cursor: pointer;
}

.product6 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.product6 h3 {
  padding: 0 2rem;
  font-family: "Roboto", sans-serif;
  text-transform: initial;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #413e3e;
  line-height: 1.3;
  text-transform: initial;
  text-align: start;
  margin-bottom: 2rem;
}

.product6 a {
  padding: 0 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2;
  letter-spacing: 1px;
  color: #413e3e;
  text-align: start;
  cursor: pointer;
}

.product6 p {
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 2;
  letter-spacing: 1px;
  color: #3a3939;
  text-align: start;
  padding: 0 2rem;
}

/* ------------------- VIDEO----------------*/
.video {
  padding: 4rem;
  background-color: var(--color-grey);
  max-width: 144rem;
  margin: 0 auto;
}

/* ------------------- hero-cards ----------------*/
.hero-cards {
  background-color: #1c1c1c;
  padding: 4rem 2rem;
  max-width: 144rem;
  margin: 0 auto;
}

.hero-cards-content {
  max-width: 144rem;
  min-height: 70vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 650px) {
  .hero-cards-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero-cards-content-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-cards-content-left-card1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 2rem;
}

.hero-cards-content-left-card2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-cards-content-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 6rem 2rem;
}

.hero-cards-content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 650px) {
  .hero-cards-content-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.hero-cards-content-right-title2 {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 650px) {
  .hero-cards-content-right-title2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cards-score {
  width: 30rem;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: .5rem;
}

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-cards-img {
  width: 30rem;
  height: 20rem;
  -webkit-box-shadow: 0 2rem 2rem rgba(177, 174, 174, 0);
          box-shadow: 0 2rem 2rem rgba(177, 174, 174, 0);
}

.icon-box {
  width: 1.5rem;
  height: 1.5rem;
  fill: #e8a90b;
  margin-bottom: 1rem;
}

.score p,
.annual p {
  color: #9b9797;
  font: 1.6rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.hero-cards-content-right h2 {
  color: #c9c5c5;
  font-size: 2.6rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.hero-cards-content-right a {
  color: #c9c5c5;
  font-size: 1.8rem;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
}

.hero-cards-content-right p {
  color: #a5a1a1;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
}

/*---------------------------payment----------------------------------*/
.payment {
  padding: 6rem 2rem;
  background: url("/css/img/card-2988232.jpg") center/cover no-repeat;
  max-width: 144rem;
  margin: 0 auto;
  min-height: 70vh;
  position: relative;
  z-index: 1;
}

.payment-content {
  background-color: var(--color-red);
  width: 80%;
  height: 30rem;
  position: absolute;
  bottom: 0%;
  right: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
}

.payment-content h2 {
  color: #e8e3e3;
  font-size: 2.6rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
/*# sourceMappingURL=style.css.map */