:root {
  --color-white: #fff;
  --color-grey: #f2f2f2;
  --color-secondary: #1a261a;
  --color-secondary-light: #717346;
  --color-secondary-light-2: #a69a60;
  --color-secondary-light-3: #593c22;

  --color-blue-dark-1: #121726;
  --color-blue-dark-2: #355b8c;
  --color-blue-dark-3: #081826;
  --color-red: #f24949;

  --color-text-1: #a6a6a6;
  --color-text-2: #595959;
  --color-text-3: #262626;
  --color-text-4: #000;

  --shadow-dark: 0 5rem 6rem rgba(0, 0, 0, 0.4);
  --shadow-medium: 0 2rem 5rem rgba(0, 0, 0, 0.185);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.16);
  --line: 1px solid var(--color-grey-light-2);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  @media (max-width: 1000px) {
    font-size: 52.5%;
  }
  @media (max-width: 850px) {
    font-size: 45.5%;
  }
}



body {
  background: var(--color-white);
  // font-family: clarendon-urw, serif;
  font-family: "AvantGarde", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  color: var(--color-txt-2);
  position: relative;
  margin: 0 auto;
}

.navbar {
  background-color: var(--color-grey);
  position: sticky;
  width: 100%;
  top: 0;
  height: 8rem;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 10;
  padding: 1rem 0rem;
}

.navbar-central {
  background-color: var(--color-grey);
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0rem 1.5rem;
  z-index: -1;
  @media (max-width:1000px){
    justify-content: space-between;
    padding: 0rem 2.5rem;
  }
}

.logo {
  height: 4rem;
  width: 24rem;
  @media (max-width:1000px){
    width: 20rem;
  }
  @media (max-width: 768px){
    width: 16rem;
  }
  @media (max-width: 453px){
    width: 12rem;
    height: 3rem;
  }
}
.nav-logo {
  flex: 0 0 20%;
}

.nav-links {
  flex: 1;
}
///////////////////////////////////////////////////////////////

.menu-hamburger {
  position: relative;
}

.logoOn {

  &-item {
    background-color:red;
    font-size: .5rem;
  }

}


@media (min-width: 1000px){
  nav .menu-hamburger,
  .logoOn {
    display: none;
  }
}

  @media (max-width: 1000px){
    nav .nav-links {
      display: none;
  }
}
.nav__list,
.logoOn .nav__list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8rem;
}
.logoOn .nav__list{
  height: 2rem;
}

.nav__link {
  text-decoration: none;
  color: var(--color-text-4);
  display: inline-block;
  padding: 3rem 2rem;
  position: relative;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1rem;
  z-index: 1000;
  @media (max-width: 1200px) {
    padding: 3rem 1rem;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    height: 8rem;
    width: 3px;
    background-color: var(--color-red);
    transform: scaleY(0);
    transition: transform 0.2s, width cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
    z-index: -1;
  }

  &:hover::before {
    transform: scaleY(1.05);
    width: 100%;
    height: 8rem;
    color: var(--color-white);
  }
}

.nav__link:hover,
.nav__link:active {
  color: var(--color-white);
}

#active {
  background-color: var(--color-red);
  height: 8rem;
  color: var(--color-white);
}
#active2{

 

}


#deductive {
  background-color: transparent;
  height: 8rem;
  color: var(--color-text-4);
}
#bold {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.5rem;
}
////////////////////////////////////////////////////////////////
#hero,
#hero-1,
#hero-2,
#hero-3 {
  min-height: calc(60vh - 60px);
  background-color: var(--color-grey);
  margin: 0 auto;
  max-width: 144rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#hero-1 {
  background: url("/css/img/benz2.jpg") center/cover no-repeat;
  min-height: calc(80vh - 60px);
  z-index: 5;
}
#hero-2 {
  background: url("/css/img/pig.jpg") center/cover no-repeat;
  min-height: calc(80vh - 60px);
  z-index: 5;
}
#hero-3 {
  background: url("/css/img/1.jpg") center/cover no-repeat;
  min-height: calc(80vh - 60px);
  z-index: 5;
}

.hero-title {
  position: relative;
  height: 100%;
  // flex: 1;
  // padding: 2rem 0rem;
  // padding: 4rem 8rem;
  padding: 4rem;
  width: 90vw;
  margin: 0 auto;
  max-width: 144rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero-title h1 {
  margin-top: 5rem;
  font-family: "AvantGarde", sans-serif;
  font-weight: 700;
  font-size: 7rem;
  line-height: 1;
  margin-bottom: 1.5rem;
}

.hero-title h3 {
  font-family: "AvantGarde", sans-serif;
  text-align: start;
  font-weight: 600;
  margin-left: 20rem;
  font-size: 1.4rem;
  color: (var(--color-text-2));
  letter-spacing: 1px;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.hero-title a {
  font-family: "AvantGarde", sans-serif;
  text-align: start;
  margin-left: 20rem;
  font-weight: 700;
  font-size: 1.4rem;
  color: (var(--color-text-3));
  letter-spacing: 1px;
  line-height: 1.2;
  text-decoration: none;
  border-bottom: 2px solid rgb(111, 109, 109);
  width: 9rem;
  cursor: pointer;
}

////////////////////////////////////////////////////////////////

.home-intro {
  background-color: inherit;
  padding: 0rem;
}

.intro-content {
  background-color: var(--color-grey);
  height: 100%;
  margin: 0 auto;
  max-width: 144rem;
  display: grid;
  padding: 0 4rem;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  @media (max-width: 1080px) {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  @media (max-width: 882px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  @media (max-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
}

.house-img {
  padding: 4rem;
  width: 100%;
  height: 70vh;
}

.product1,
.product2,
.product3,
.product4 {
  position: relative;
  overflow: hidden;
  height: 50rem;
  padding-top: 2rem;
}

.product1 {
  background-color: var(--color-grey);
  display: flex;
  flex-direction: column;
  &_title {
    height: 6rem;
    background-color: (var(--color-red));
    font-size: 1.8rem;
    letter-spacing: 1px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2rem;
    @media (max-width: 1000px) {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  &_title-text {
    background-color: inherit;
    padding-top: 4rem;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    h2 {
      font-size: 3.2rem;
      width: 35rem;
      color: var(--color-text-4);
      letter-spacing: 1px;
      font-family: "AvantGarde", sans-serif;
      font-weight: 600;
      line-height: 1.3;
      text-transform: initial;
      @media (max-width: 1000px) {
      }
    }
  }
}

.product1_title-text {
  @media (max-width: 1000px) {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.product4 {
  background: url("/css/img/wonan.jpg") center/cover no-repeat;
}

.product3 {
  padding-top: 0rem;
  background-color: var(--color-grey);
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &_title-text {
    background-color: inherit;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    p {
      font-size: 1.4rem;
      letter-spacing: 1px;
      color: var(--color-text-2);
      width: 25rem;
      line-height: 1.4;
      font-weight: 600;
    }
    h2 {
      font-size: 3.2rem;
      letter-spacing: 1px;
      font-family: "AvantGarde", sans-serif;
      font-weight: 600;
      color: var(--color-text-4);
      line-height: 1.3;
      margin-bottom: 4rem;
      text-transform: initial;
      @media (max-width: 1000px) {
      }
    }
  }
}

.product2 {
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  &-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30rem;
    height: 20rem;
  }
}
/*----------------------------TYPOGRAPHY------------------------------------*/
.heading-4 {
  letter-spacing: 1px;
  font-family: "AvantGarde", sans-serif;
  font-weight: 700;
  line-height: 1.3;
  text-transform: initial;
  font-size: 1.8rem;
  color: var(--color-text-3);
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}

.text {
  letter-spacing: 1px;
  font-family: "AvantGarde", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-transform: initial;
  font-size: 1.3rem;
  color: var(--color-text-2);
  letter-spacing: 1px;
}

/*----------------------------TYPOGRAPHY------------------------------------*/

.card-container {
  background-color: rgb(2, 2, 2);
  // background: url("/css/img/card-black.png") center/cover no-repeat;
  padding: 4rem;
  position: relative;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
.card-img {
  width: 100%;
  height: 70vh;
}

.card-1 {
  position: absolute;
  width: 40rem;
  height: 25rem;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2rem 5rem rgba(255, 255, 255, 0.029);
}
.card-2 {
  position: absolute;
  width: 40rem;
  height: 25rem;
  top: 65%;
  left: 60%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2rem 2rem rgba(128, 127, 127, 0.029);
}

#bgColorBlack {
  background-color: #000;
}

#bgColorBlack-2 {
  background-color: rgb(52, 51, 51);
}

#txtColor {
  color: #fff;
}

#bgTransparent {
  background-color: transparent;
}


/* --------------- Hamburger -menu ---------------- */

.menu-open {
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: 40px;
  height: 20px;
  background-color: rgba(255, 0, 0, 0);
  z-index: 10;
}

.menu-open span {
  display: flex;
  width: 40px;
  height: 4px;
  background-color: black;
  margin-top: 3px;
}

.nav {
  position: fixed;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  border-right: 1px solid black;
  transition: all 0.5s;
  z-index: 8000;
}

@media only screen and (max-width: 728px) {
  .nav {
    left: -100%;
  }
}

.nav.active {
  position: fixed;
  top: 0;
  left: 0%;
  width: 50%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 251, 251);
  transition: all 0.5s;
  z-index: 8000;
}

@media only screen and (max-width: 728px) {
  .nav.active {
    width: 100%;
  }
}

.nav ul {
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
  width: 80%;
  text-align: center;
  padding: 3rem;
}

/*---------------------------------------------------------*/

.nav .nav-horizontal {
  position: absolute;
  top: 4%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 1rem 3rem;
  cursor: pointer;
}

.nav .nav-horizontal li a {
  color: rgb(48, 47, 47);
  text-decoration: none;
  font-family: inherit;
  font-size: 1.8rem;
  background-color: rgb(255, 255, 255);
  font-weight: 700;
  font-family: "Roboto";
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.2s;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.nav .nav-horizontal li a:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
}
@media only screen and (max-width: 425px) {
  .nav .nav-horizontal li a {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 360px) {
  .nav .nav-horizontal li a {
    font-size: 1.2rem;
  }
}

.nav .nav-horizontal li a:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
}

.nav .nav-bottom {
  position: absolute;
  top: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 3rem;
  cursor: pointer;
}

.nav .nav-bottom {
  position: absolute;
  top: 95%;
  right: 1%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  padding: 3rem;
}

.nav .nav-bottom li a {
  color: rgb(45, 43, 43);
  text-decoration: none;
  font-family: inherit;
  font-size: 1.6rem;
  background-color: rgb(255, 255, 255);
  font-weight: 500;
  font-family: "Roboto";
  letter-spacing: 2px;
  cursor: pointer;
}

/*---------------------------------------------------------*/

.nav ul li {
  margin-top: 3rem;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.nav ul li a {
  color: rgb(50, 48, 48);
  text-decoration: none;
  font-family: inherit;
  font-size: 4.8rem;
  background-color: rgb(255, 255, 255);
  font-weight: 600;
  font-family: "Roboto";
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
}

@media only screen and (max-width: 1167px) {
  .nav ul li a {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 768px) {
  .nav ul li a {
    font-size: 3.4rem;
    letter-spacing: 4px;
  }
}
@media only screen and (max-width: 389px) {
  .nav ul li a {
    font-size: 2.4rem;
  }
}

.menu-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 18px;
  height: 18px;
  background-color: rgba(31, 30, 30, 0);
  cursor: pointer;
}

.menu-close span {
  display: flex;
  width: 20px;
  height: 2px;
  background-color: #131313;
}

.menu-close :nth-child(1) {
  position: absolute;
  left: -2px;
  top: 7px;
  transform: rotate(45deg);
}

.menu-close :nth-child(2) {
  position: absolute;
  left: -2px;
  top: 7px;
  transform: rotate(135deg);
}

.logo-center {
  position: relative;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -0%);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1372px) {
  .logo-center {
    left: 50%;
  }
}

/* --------------- End of Navbar ---------------- */
