:root {
  --color-white: #fff;
  --color-grey: #f2f2f2;
  --color-secondary: #1a261a;
  --color-secondary-light: #717346;
  --color-secondary-light-2: #a69a60;
  --color-secondary-light-3: #593c22;
  --color-blue-dark-1: #121726;
  --color-blue-dark-2: #355b8c;
  --color-blue-dark-3: #081826;
  --color-red: #f24949;
  --color-text-1: #a6a6a6;
  --color-text-2: #595959;
  --color-text-3: #262626;
  --color-text-4: #000;
  --shadow-dark: 0 5rem 6rem rgba(0, 0, 0, 0.4);
  --shadow-medium: 0 2rem 5rem rgba(0, 0, 0, 0.185);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.16);
  --line: 1px solid var(--color-grey-light-2);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: var(--color-white);
  font-family: "AvantGarde", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  color: var(--color-txt-2);
  position: relative;
  margin: 0 auto;
}

.navbar {
  background-color: inherit;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
  height: 8rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  padding: 1rem 0rem;
}

.navbar-central {
  background-color: var(--color-grey);
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0rem 1.5rem;
  z-index: -1;
}

.logo {
  height: 4rem;
  width: 24rem;
}

.nav-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.nav-links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8rem;
}

.nav__link {
  text-decoration: none;
  color: var(--color-text-4);
  display: inline-block;
  padding: 3rem 2rem;
  position: relative;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1rem;
  z-index: 1000;
}

.nav__link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  height: 8rem;
  width: 3px;
  background-color: var(--color-red);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: width cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: transform 0.2s, width cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  transition: transform 0.2s, width cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  z-index: -1;
}

.nav__link:hover::before {
  -webkit-transform: scaleY(1.05);
          transform: scaleY(1.05);
  width: 100%;
  height: 8rem;
  color: var(--color-white);
}

.nav__link:hover,
.nav__link:active {
  color: var(--color-white);
}

#active {
  background-color: var(--color-red);
  height: 8rem;
  color: var(--color-white);
}

#deductive {
  background-color: transparent;
  height: 8rem;
  color: var(--color-text-4);
}

#bold {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.5rem;
}

#hero,
#hero-1 {
  min-height: calc(60vh - 60px);
  background-color: var(--color-grey);
  margin: 0 auto;
  max-width: 144rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero-1 {
  background: url("/css/img/benz2.jpg") center/cover no-repeat;
  min-height: calc(80vh - 60px);
  z-index: 5;
}

.hero-title {
  position: relative;
  height: 100%;
  padding: 4rem;
  width: 90vw;
  margin: 0 auto;
  max-width: 144rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hero-title h1 {
  margin-top: 5rem;
  font-family: "AvantGarde", sans-serif;
  font-weight: 700;
  font-size: 7rem;
  line-height: 1;
  margin-bottom: 1.5rem;
}

.hero-title h3 {
  font-family: "AvantGarde", sans-serif;
  text-align: start;
  font-weight: 600;
  margin-left: 20rem;
  font-size: 1.4rem;
  color: var(--color-text-2);
  letter-spacing: 1px;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.hero-title a {
  font-family: "AvantGarde", sans-serif;
  text-align: start;
  margin-left: 20rem;
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--color-text-3);
  letter-spacing: 1px;
  line-height: 1.2;
  text-decoration: none;
  border-bottom: 2px solid #6f6d6d;
  width: 9rem;
  cursor: pointer;
}

.home-intro {
  background-color: inherit;
  padding: 0rem;
}

.intro-content {
  background-color: var(--color-grey);
  height: 100%;
  margin: 0 auto;
  max-width: 144rem;
  display: -ms-grid;
  display: grid;
  padding: 0 4rem;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

@media (max-width: 1080px) {
  .intro-content {
    -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

@media (max-width: 882px) {
  .intro-content {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (max-width: 600px) {
  .intro-content {
    -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
}

.house-img {
  padding: 4rem;
  width: 100%;
  height: 70vh;
}

.product1,
.product2,
.product3,
.product4 {
  position: relative;
  overflow: hidden;
  height: 50rem;
  padding-top: 2rem;
}

.product1 {
  background-color: var(--color-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product1_title {
  height: 6rem;
  background-color: var(--color-red);
  font-size: 1.8rem;
  letter-spacing: 1px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2rem;
}

@media (max-width: 1000px) {
  .product1_title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.product1_title-text {
  background-color: inherit;
  padding-top: 4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: start;
}

.product1_title-text h2 {
  font-size: 3.2rem;
  width: 35rem;
  color: var(--color-text-4);
  letter-spacing: 1px;
  font-family: "AvantGarde", sans-serif;
  font-weight: 600;
  line-height: 1.3;
  text-transform: initial;
}

@media (max-width: 1000px) {
  .product1_title-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.product4 {
  background: url("/css/img/wonan.jpg") center/cover no-repeat;
}

.product3 {
  padding-top: 0rem;
  background-color: var(--color-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product3_title-text {
  background-color: inherit;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: start;
}

.product3_title-text p {
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: var(--color-text-2);
  width: 25rem;
  line-height: 1.4;
  font-weight: 600;
}

.product3_title-text h2 {
  font-size: 3.2rem;
  letter-spacing: 1px;
  font-family: "AvantGarde", sans-serif;
  font-weight: 600;
  color: var(--color-text-4);
  line-height: 1.3;
  margin-bottom: 4rem;
  text-transform: initial;
}

.product2 {
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product2-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 30rem;
  height: 20rem;
}

/*----------------------------TYPOGRAPHY------------------------------------*/
.heading-4 {
  letter-spacing: 1px;
  font-family: "AvantGarde", sans-serif;
  font-weight: 700;
  line-height: 1.3;
  text-transform: initial;
  font-size: 1.8rem;
  color: var(--color-text-3);
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}

.text {
  letter-spacing: 1px;
  font-family: "AvantGarde", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-transform: initial;
  font-size: 1.3rem;
  color: var(--color-text-2);
  letter-spacing: 1px;
}

/*----------------------------TYPOGRAPHY------------------------------------*/
.card-container {
  background-color: #020202;
  padding: 4rem;
  position: relative;
}

.card-img {
  width: 100%;
  height: 70vh;
}

.card-1 {
  position: absolute;
  width: 40rem;
  height: 25rem;
  top: 50%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 2rem 5rem rgba(255, 255, 255, 0.029);
          box-shadow: 0 2rem 5rem rgba(255, 255, 255, 0.029);
}

.card-2 {
  position: absolute;
  width: 40rem;
  height: 25rem;
  top: 65%;
  left: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 2rem 2rem rgba(128, 127, 127, 0.029);
          box-shadow: 0 2rem 2rem rgba(128, 127, 127, 0.029);
}

#bgColorBlack {
  background-color: #000;
}

#bgColorBlack-2 {
  background-color: #343333;
}

#txtColor {
  color: #fff;
}

#bgTransparent {
  background-color: transparent;
}
/*# sourceMappingURL=style.css.map */